<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:#063852;background-image:url(../../Image/background6.jpg);background-size:100%">

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#011A27">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="background-color:#5F51A0;border-radius:5px;margin-left:0px;color:snow;font-family:fantasy;font-size:25px;margin-top:5px" @Html.ActionLink("Metal Gear Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://localhost:56170/Home/Contact"> <img border="0" src="~/Image/contact2.png" width="30" height="30" title="Связаться" /></a>
                    </li>
                    <li>
                        <a href="http://localhost:56170/Customer/Index"> <img border="0" src="~/Image/store2.png" width="30" height="30" title="Каталог" /></a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="http://localhost:56170/UserRoles/Index"> <img border="0" src="~/Image/roles2.png" width="30" height="30" title="Роли" /></a>
                        </li>
                        <li>
                            <a href="http://localhost:56170/UserRoles/Users"> <img border="0" src="~/Image/accounts2.png" width="30" height="30" title="Аккаунты" /></a>
                        </li>
                        <li>
                            <a href="http://localhost:56170/Product/Index"> <img border="0" src="~/Image/add2.png" width="30" height="30" title="Список товаров-редактирование" /></a>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-family:fantasy;color:#f0810f;font-size:25px">&copy; @DateTime.Now.Year - Metal Gear Store</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
