@model OnlineStore.ViewModels.CPUViewModel

@{
    ViewBag.Title = "CPUDetails";
}

<div>
    <dl class="dl-horizontal">
        <dd>
            @if (Model.Image != null)
            {

                @Html.Raw("<img style='width:450px; height:300px;' src=\"data:image/jpeg;base64,"
                                    + Convert.ToBase64String(Model.Image) + "\" />")

            }
            @if (Model.Image == null)
            {
                <img src="~/Image/no-photo.png" width="100" height="100" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Customer", null, null)"> <img border="0" src="~/Image/back2.png" width="30" height="30" title="Вернуться" style="float:left" /></a>
    <a href="@Url.Action("ShowCart", "Customer", null, null)"> <img border="0" src="~/Image/cart2.png" width="30" height="30" title="Корзина" style="float:right" /></a>
</p>
